/* =====================================
   TARJETA DIGITAL ENDE
   Diseño institucional
===================================== */


*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:Arial,Helvetica,sans-serif;
}

body{

    min-height:100vh;

    background:
       url("img/fondo-ende.png");

    background-size:cover;

    background-position:center;

    display:flex;

    justify-content:center;

    align-items:center;

    padding:30px;

}

.contenedor{

    width:100%;

    max-width:600px;

    /* Relleno semitransparente */
    background:rgba(255,255,255,0.88);

    /* Efecto vidrio */
    backdrop-filter:blur(40px);

    -webkit-backdrop-filter:blur(10px);


    border-radius:15px;


    padding:20px 15px;


    text-align:center;


    /* Borde corporativo */
    border:2px solid rgba(255,255,255,0.6);


    /* Sombra externa */
    box-shadow:

    0 15px 35px rgba(0,0,0,.30),

    inset 0 0 20px rgba(0,91,172,.15);


    position:relative;

    overflow:hidden;

}

.logo{

width:120px;

display:block;

margin:auto;

margin-bottom:20px;

}

h1{

text-align:center;

font-size:38px;

}

h2{

text-align:center;

color:#003e7e;

margin-top:10px;

font-size:23px;

}

p{

text-align:center;

color:#666;

}

.links{

margin-top:40px;

}

.card{

display:flex;

align-items:center;

text-decoration:none;

background:white;

border-radius:18px;

padding:18px;

margin-bottom:18px;

box-shadow:0 8px 18px rgba(0,0,0,.12);

transition:.25s;

color:#222;

}

.card:hover{

transform:translateY(-4px);

}

.icono{

width:65px;

height:65px;

display:flex;

justify-content:center;

align-items:center;

font-size:30px;

border-radius:50%;

background:#005BAC;

color:white;

}

.whatsapp{

background:#25D366;

}

.correo{

background:#003e7e;

}

.telefono{

background:#005BAC;

}

.texto{

flex:1;

padding-left:18px;

}

.texto h3{

font-size:23px;

margin-bottom:6px;

}

.texto p{

text-align:left;

font-size:15px;

color:#777;

}

.flecha{

font-size:22px;

color:#999;

}
